<div class="login-box container">
  <div class="login-tabs">
    <nav>
      <ul class="login-tabs__navigation">
        <li>
          <button (click)="toggleLogin()"
          class="login-tab"
          data-content="login">Увійти</button>
        </li>
        <li><button (click)="toggleRegister()"
          class="login-tab"
          data-content="register">Реєстрація</button>
        </li>
      </ul>
    </nav>
<ul class="login-tabs__content">
  <li data-content="login">
    <div [ngClass]="{invisible: loginVisibility}" class="login-form">
      <form [formGroup]="userloginControl"
        class="login-user form-group"
        action=""
        method="post"
         (ngSubmit)="onSubmit()">
        <input formControlName="email"
          [(ngModel)]="createNewUser.email"
          placeholder="е-mail адреса"
          type="email"
          class="input">
        <p *ngIf="userloginControl.get('email').invalid
        && userloginControl.get('email').touched">
          <span *ngIf="userloginControl.get('email').errors['email']"> Введіть коректну е-mail адресу!</span>
          <span *ngIf="userloginControl.get('email').errors['emailIsUsed']"> Така е-mail адреса вже існує!</span>
        </p>
        <input formControlName="password"
          [(ngModel)]="createNewUser.password"
          placeholder="пароль"
          type="password"
          class="input">
        <p *ngIf="userloginControl.get('password').invalid
          && userloginControl.get('password').touched">
          <span *ngIf="userloginControl.get('password').errors['required']"> Поле пароль не повинно бути пусте!</span>
          <br>
          <span *ngIf="userloginControl.get('password').errors['lengthError']">
            Пароль повинен бути не менше {{ charsCount }} символів!
          </span>
        </p>
        <button
          name="login"
          type="submit"
          class="button-login"
          data-submit="Вхід"
          [disabled]="userloginControl.invalid">
          Вхід
        </button>
      </form>
    </div>
  </li>
  <li>
      <div [ngClass]="{invisible: registerVisibility}" class="form-register  invisible">
          <form [formGroup]="userRegisterControl" class="register-user form-group" action="" method="post" (ngSubmit)="onRegister()">
              <input formControlName="email"
                [(ngModel)]="createNewUser.email"
                placeholder="е-mail адреса"
                type="email"
                required
                class="input">
              <input formControlName="user"
                [(ngModel)]="createNewUser.user"
                placeholder="логін"
                type="text"
                required
                class="input">
              <input formControlName="password"
                [(ngModel)]="createNewUser.password"
                placeholder="пароль"
                type="password"
                required
                class="input">
              <button name="register" type="submit" class="button-login" data-submit="Реєстрація">Реєстрація</button>
          </form>
        </div>
  </li>
</ul>
  </div>
</div>
