<div class="wrapper-rules">
  <h2 class="rules">ПРАВИЛА</h2>
  <p class="rules-board"><strong>Правила анонімного форуму-дошки (іміджборди) 7StarLeaf (далі — Правила)</strong></p>
  <ol class="order-list">
    <li><strong>Основні положення</strong>
      <ol class="order-list">
        <li>Правила є обовʼязковими для виконання кожним відвідувачем іміджборди 7StarLeaf (далі — Ресурс) 
          за веб-адресою www.7StarLeaf.com</li>
        <li>Адміністрація Ресурсу (далі — Адміністрація) залишає за собою право вносити зміни до Правил 
          без попередження.</li>
        <li>На Ресурсі чинне прецедентне право. Це означає, що в разі виявлення дії, 
          яка спричиняє явну шкоду функціонуванню Ресурсу, щодо учинювача такої дії буде застосовано покарання, 
          міра якого обиратиметься на розсуд Адміністрації, а Правила буде доповнено відповідними положеннями.</li>
        <li>Користування Ресурсом є привілеєм, а не правом. Адміністрація може обмежити доступ до Ресурсу і/або 
          видалити будь-який присутній на Ресурсі контент без пояснення причин.</li>
      </ol>
    </li>
    <li><strong>Загальні правила</strong>
      <ol class="order-list">
        <li>Заборонено завантаження, розміщення, запитування і посилання на матеріали, вміст яких є незаконним в 
          Україні та/або в країнах ЄС.</li>
        <li>Заборонено спам і/або флуд.</li>
        <li>Заборонено обхід спам- і вордфільтрів.</li>
        <li>Непогоджену рекламу заборонено.</li>
        <li>Заборонено спілкуватись від імені Адміністрації користувачеві, який не має цього статусу. Користувачеві, 
          який належить до Адміністрації, заборонено спілкуватись від імені інших членів Адміністрації.</li>
        <li>Заборонено використання ботів і скриптів для автоматичного дописування.</li>
        <li>Заборонено дописування, що не відповідає темі дошки.</li>
        <li>На всіх дошках, крім /i/, дозволяється спілкуватися винятково українською мовою чинного правопису з кириличною абеткою.</li>
        <li>Заборонено розміщення російськомовного контенту в усіх розділах.</li>
        <li>Розміщення контенту еротичного та порнографічного характеру суворо заборонено.</li>
        <li>Заборонено пропаганду сепаратизму, ліквідації Незалежності, цілісності території або суверенітету України; 
          заперечення факту Голодомору як геноциду Українського народу; образу держави, народу, історії, 
          мови або культури України; неповагу чи приниження символів України; агітацію антиукраїнських ідей та 
          антиукраїнської діяльності; комуністичну, расистську, нацистську, фашистську, російськоімперську агітацію та 
          заклики до відповідної діяльності.</li>
        <li>Заборонено бамп затонулих ниток, зміст і вміст яких порушує Правила.</li>
      </ol>
    </li>
    <li><strong>Покарання</strong>
      <ol class="order-list">
        <li>Якщо покарання не обумовлено окремо в дальших пунктах розділу 3 Правил, порушення карається так:
          <br>— за перше порушення — бан на тиждень із видаленням відповідних дописів;
          <br>— за друге порушення — бан на місяць із видаленням відповідних дописів;
          <br>— за третє порушення — довічний бан із видаленням відповідних дописів.</li>
        <li>За перше порушення правил 2.8 і 2.9 видається попередження, далі — як у 3.1.</li>
        <li>За перше порушення правил 2.7 видається бан на день з видаленням дописів, далі — як у 3.1.</li>
        <li>За перше порушення правила 2.10 видається попередження, а контент, що порушує правило, ховається під спойлер. 
          За наступні порушення правила застосовується покарання, описане в 3.1.</li>
        <li>Реклама і спам, що порушують правило 2.1, караються довічним баном із видаленням відповідних дописів</li>
        <li>Порушення правила 2.9 карається довічним баном із видаленням відповідних дописів.</li>
        <li>Якщо користувача помічено за кількома порушеннями одночасно, то до нього застосовується найтяжче з 
          усіх заслужених покарань.</li>
        <li>Обхід бану карається місячним баном усіх IP-адрес, використаних для обходу, і видаленням усіх дописів з цих IP-адрес, 
          а в разі повторної спроби — зміною первинного покарання на довічний бан.</li>
        <li>Якщо покараний вважає, що порушення або його вина відсутні, він може оскаржити покарання зв'язавшись з Адміністрацією сайта.
          Оскарження повинно бути чітким, послідовним і містити якомога більше деталей. Неінформативні оскарження на кшталт 
          «мене забанили ні за що!», «розбаньте ну будь-лааасочка» видаляються без розгляду, а спам/флуд такими повідомленнями 
          змінює покарання на довічний бан.</li>
        <li>В разі порушення членом Адміністрації правила 2.5 міра покарання розглядається спільною нарадою Адміністрації.</li>
      </ol>
    </li>
  </ol>
  <br>
</div>