
  <button type="submit" class="create-post">
    <a class="link-button" routerLink = "/boards/{{boardName}}/createpost">Створити пост</a>
  </button>
  <div class="post-wrapper" *ngIf="boardDetail">
    <div class="single-post" *ngFor="let post of boardDetail.posts">
      <p class="text">{{post.subject}} 
        <span>{{post.content.created_at}} </span>
        <button type="submit" class="create-replies">
          <a class="link-button" routerLink = "/boards/{{boardName}}/{{post.content.index}}/createreplies"  title="Коментувати">
            {{post.content.index}}</a>
        </button></p>
        <figure *ngIf="bigImage" class="show-big-images">
          <img src = {{bigImage}}  alt="pictures" (click)="setActiveBigImage(null)" width="800px" height="450px">
        </figure>
        <figure class="preview-img" *ngFor="let file of getImageAttachment(post.content)">
          <img src = {{addBaseUrl(file.thumb.url)}}  alt="pictures" (click)="setActiveBigImage(addBaseUrl(file.url))">
        </figure>
        <span class="main-text" [innerHtml]= 'post.content.text'></span>
        <div *ngFor="let prev of post.post_preview">
          <div class="reply-visible">
            <p><span>{{prev.created_at}}</span> <span class="index-style">{{prev.index}}</span></p>
            <figure class="preview-img" *ngFor="let file of getImageAttachment(prev)">
              <img src = {{addBaseUrl(file.thumb.url)}}  alt="pictures" (click)="setActiveBigImage(addBaseUrl(file.url))">
            </figure>
            <span class="main-text" [innerHtml]='prev.text'></span>
          </div>
        </div> 
    </div>
  </div>                 