
  <button type="submit" class="create-post">
    <a class="link-button" routerLink = "/boards/{{boardName}}/createpost">Create new tred</a>
  </button>
  <div *ngIf="boardDetail">
    
    <div *ngIf="bigImage">
      <img src = {{bigImage}}  alt="pictures" (click)="setActiveBigImage(null)">
    </div>

    <div class="single-post" *ngFor="let post of boardDetail.posts">
      <p>{{post.subject}}</p> 
      <span [innerHtml]= 'post.content.text'></span>
      <span>{{post.content.created_at}}</span>

      
      <div *ngFor="let file of getImageAttachment(post)">
        <img src = {{addBaseUrl(file.thumb.url)}}  alt="pictures" (click)="setActiveBigImage(addBaseUrl(file.url))">
      </div>
    </div>
  <div>
      