.create-post {
    display: flex;
    text-align: center;
    border: none;
    border-radius: 10px;
    background: #4CAF50;
    color: #ffffff;
    margin: 15px auto;
    padding: 10px;
    font-size: 15px;
}

.link-button {
    text-decoration: none;
    color: #ffffff;   
}