    <h2>Дошки</h2>
        <button (click)="toggleCreateBoard()" type="submit" class="create-board">Створити дошку</button>
    <div [ngClass]="{invisible: showCreateForm}" class="create-board-container invisible">  
        <form id="board" action="" method="post">
            <fieldset [formGroup]="createBoard">
                <input formControlName="short_name" [(ngModel)]="createNewBoard.short_name" placeholder="скороченна назва" type="text" autofocus required>
                <input formControlName="name" [(ngModel)]="createNewBoard.name" placeholder="назва" type="text" required>
                <input formControlName="description" [(ngModel)]="createNewBoard.description" placeholder="опис" type="text" required>
                <button (click)="addBoard()"  type="submit">Створити</button>
                <button (click)="toggleCancelBoard()" style="background-color: #a52a2a" type="submit">Відмінити</button>
            </fieldset>
        </form>
    </div>
    <ul class="category-list clearfix">
        <li class="category-item" *ngFor="let board of boards"> 
            <a class="category-name" [routerLink] = "['/boards', board.short_name]" ><span>|</span>{{board.name}}<span>|</span></a>
        </li>
    </ul>
