<body>
<h2>Дошки</h2>
    <ul class="category-list clearfix">
        <li class="category-item"><a class="category-name" href="#Films"><span>|</span>Фільми<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Музика<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Серіали<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Фото<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Космос<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Авто-мото<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Спорт<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Книги<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Хобі<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Іграшки<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Подорожі<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Україна<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>Домашні улюбленці<span>|</span></a></li>
        <li class="category-item"><a class="category-name" href="#"><span>|</span>International<span>|</span></a></li>
    </ul>
</body>
