.create-post {
    max-width: 700px;
    margin: 0px auto;
    border: 1px solid black;
}

#post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
    border: 1px solid black;
}

.inform-block, 
 span {
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
}

.user-info {
    max-width: 200px;
    margin: 5px;
}

// .message-block {}

.btn-bar {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 2px 0px;
}

.btn {
    border: 1px solid black;
    block-size: 15px;
    margin: 0px 3px;
}