/* You can add global styles to this file, and also import other style files */
body {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #fdeaa8;
}