/* You can add global styles to this file, and also import other style files */
body {
  background-color: #EEE;
  margin: 0 0 0 0;
}

a {
  color: #FF7000;
}

.quote {
  color: #789922;
}

.spoiler {
  color: #BBB;
  background-color: #BBB;
}

.spoiler:hover {
  color: black;
  background-color: transparent;
}

::selection {
  background-color: #FF7000;
}

a::selection {
  color: white;
}
