.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a52a2a;
    height: 5%;
  }

.footer-links,
.acronym {
    text-decoration: none;
    padding: 0px 10px;
    color: #000000;
}

.footer-links:hover,
.acronym:hover {
    font-size: 20px;
    color: #cc7722;
}