.footer {
    background-color: #EEE;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DDD;
}

.footer-links{
    padding: 5px;
}

.footer-links:hover {
    text-decoration: none;
}
