
<form class="form">

    <input type="email"
      [(ngModel)]="formInvite.email"
      name="email"
      required>
    <br><br>

    <select name="access_level"
      [(ngModel)]="formInvite.access_level"
      required>
      <option
        value="">
        Оберіть тип доступу
      </option>
      <option value="0">Модератор</option>
      <option value="1">Адміністратор</option>
    </select>
    <br><br>

    <input type="datetime-local"
      [(ngModel)]="formInvite.expires_at"
      name="expires_at"
      required>
      <br><br>

  <button type="button"
    (click)="submitInvite()">
    Згенерувати токен для запрошення
  </button>

</form>

<p>Токен для запрошення: {{ tockenInvite }}</p>
