* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, Sans-serif;
    width: 100%;
    border: 1px solid #cccccc;
    background: #ffffff;
    margin: 10px 0 10px ;
    padding: 10px;
  }
  
  #contact {
    background: #fdeaa8;
    padding: 25px;
    margin: 100px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }
    
  fieldset {
    border: medium none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
    
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact textarea:hover {
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaaaaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #ffffff;
    margin: 20px 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
    
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaaaaa;
  }
  
  #answer {
    display: flex;
    max-width: 450px;
    width: 100%;
    margin: auto auto;
    background: #fdeaa8;
    padding: 25px;
    margin-top: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  #answer h3 {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
  }

  .invisible {
    display: none;
  }